/**
 
 @Name: layuiSimpleBlog - 极简博客模板
 @Author: xuzhiwen
 @Copyright: layui.com
 
 */


/*end-menu-btn*/


body {
    font: 14px 宋体 Helvetica Neue, Helvetica, PingFang SC, Tahoma, Arial, sans-serif;
    overflow-x: hidden;
    background-color: #f6f7f8;
}

.left {float: left;}
.right {float: right;}
.clear {clear: both;}

.article {
    color: #828a92;
}
.article .title {
    line-height: 26px;
    color: #303030;
}
.article .author-date {
    padding: 5px 0 5px 0;
}
.article .author-date .author {
    color: #303030;
}
.article .label {
    color: #1458d4;
    margin-top: 10px;
}
.layui-flow-more {
    line-height: 30px;
}
.header {
    height: 100px;
    line-height: 100px;
    position: relative;
    font-size: 16px;
}