<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title,link,style)">
    <meta charset="utf-8">
    <title th:replace="${title}">标题</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" th:href="@{/plugins/layuiadmin/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/plugins/layuiadmin/style/admin.css}" media="all">
    <link rel="stylesheet" th:replace="${link}">

    <script th:src="@{/plugins/layuiadmin/layui/layui.js}"></script>
    <script th:src="@{/plugins/layuiadmin/common.js}"></script>
    <script th:src="@{/plugins/xm-select/xm-select.js}"></script>
    <script th:src="@{/plugins/jquery-1.12.4.min.js}"></script>
    <script th:src="@{/js/default.js}"></script>

    <script type="text/javascript" th:inline="javascript">
        const ctx = [[${#servletContext.contextPath}]];

        /** 将字典map放到缓存中，时效2小时 */
        let dicMap = window.localStorage.getItem('dicMap');

        if(undefined != dicMap && null != dicMap){
            dicMap = JSON.parse(dicMap);
            let saveTime = dicMap['savetime'] || 1;
            let curTime = new Date().getTime();
            if(curTime-saveTime > 1000 * 60 * 60 * 2){
                dicMap = null;
            }
        }
        if(undefined == dicMap || null == dicMap) {
            get('/dict/item/dicMap', function (res) {
                res.data['savetime'] = new Date().getTime();
                window.localStorage.setItem('dicMap', JSON.stringify(res.data));
            });
        }
    </script>

    <style th:replace="${style}"></style>
</head>
</html>